<section class="px-4 lg:px-32 mt-4">
  <h1 class="text-accent text-4xl font-bold tracking-wide">Contato.</h1>

  <div class="px-8 flex flex-col lg:flex-row space-x-2 mt-2">
    <div class="mask w-full lgw-4/12">
      <img src="assets/images/contato.jpg" />
    </div>

    <div class="space-y-4">
      <p>
        Tenho interesse em colaborar em novos projetos e trocar ideias sobre design, tecnologia e inovação. Fique à vontade para
        entrar em contato!
      </p>
      <ul class="list-none pl-5">
        <li class="flex flex-col lg:flex-row items-start lg:items-center">
          <div class="flex items-center">
            <ng-icon name="lucideMail" class="text-xl mr-2" />
            <strong>E-mail: </strong>
          </div>
          <a href="mailto:seunome@email.com" class="text-blue-700 ml-2">seunome&#64;email.com</a>
        </li>
        <li class="flex flex-col lg:flex-row items-start lg:items-center">
          <div class="flex items-center">
            <ng-icon name="tdesignLogoBehance" class="text-xl mr-2" />
            <strong>Behance:</strong>
          </div>
          <a href="https://www.behance.net/seunome" target="_blank">
            <p class="text-blue-700 ml-2">https://www.behance.net/seunome</p></a
          >
        </li>
        <li class="flex flex-col lg:flex-row items-start lg:items-center">
          <div class="flex items-center">
            <ng-icon name="lucideLinkedin" class="text-xl mr-2" />
            <strong>LinkedIn:</strong>
          </div>
          <a href="https://www.linkedin.com/in/seunome" target="_blank">
            <p class="text-blue-700 ml-2">https://www.linkedin.com/in/seunome</p></a
          >
        </li>
      </ul>

      <p>Caso prefira, posso ser encontrado em outras redes sociais ou plataformas profissionais. Vamos conversar!</p>
    </div>
  </div>
</section>
