<section class="px-4 lg:px-32 scroll-mt-20" id="about">
  <h1 class="text-accent text-4xl font-bold tracking-wide">Sobre mim.</h1>
  <div class="px-8 mt-2 w-11/12 space-y-2">
    <p>
      Desde criança, eu sempre fui fascinado por como as coisas funcionam e como podem ser melhoradas. Essa curiosidade me levou a
      explorar diferentes campos, até descobrir minha verdadeira paixão: <b>design de produtos. </b>
    </p>
    <p>
      Minha jornada começou na universidade, onde mergulhei no estudo de design e tecnologia. Após a formatura, tive a
      oportunidade de trabalhar em projetos incríveis, desde o desenvolvimento de interfaces intuitivas até a criação de
      experiências físicas que conectam pessoas ao mundo digital.
    </p>
    <p>
      Hoje, como Designer de Produtos, meu foco é criar soluções que sejam funcionais, bonitas e centradas nas pessoas. Meu
      trabalho é inspirado pela crença de que o design não é apenas resolver problemas, mas também contar histórias e criar
      conexões emocionais.
    </p>
    <p>
      Quando não estou projetando, adoro explorar novas culturas, experimentar cafés diferentes e me perder em museus de arte
      contemporânea.
    </p>
  </div>

  <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical mt-4">
    <li>
      <div class="timeline-middle">
        <ng-icon name="lucideStar" class="text-2xl" />
      </div>
      <div class="timeline-start mb-10 md:text-end">
        <time class="font-mono italic">2014-2018</time>
        <div class="text-lg font-black">Formação Acadêmica</div>
        Durante esse período, me dediquei a cursar <b>Design de Produtos</b> na Universidade XYZ. Foi lá que desenvolvi uma base
        sólida em design centrado no usuário, teoria da cor, prototipagem e metodologias ágeis. Além disso, participei de projetos
        interdisciplinares que me ensinaram a importância da colaboração e da inovação.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <ng-icon name="lucideStar" class="text-2xl" />
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">2018-2020</time>
        <div class="text-lg font-black">Primeiros Passos no Mercado</div>
        Iniciei minha carreira como Designer de Produtos Jr. na empresa ABC, onde trabalhei em interfaces de aplicativos móveis e
        produtos físicos. Um dos destaques foi o redesign de uma plataforma de e-commerce, que resultou em um aumento de 25% na
        taxa de conversão. Essa experiência solidificou minha paixão por criar soluções impactantes para usuários reais.
      </div>
      <hr />
    </li>

    <li>
      <hr />
      <div class="timeline-middle">
        <ng-icon name="lucideStar" class="text-2xl" />
      </div>
      <div class="timeline-start mb-10 md:text-end">
        <time class="font-mono italic">2020 - Presente</time>
        <div class="text-lg font-black">Evolução Profissional</div>
        Atualmente, sou Designer de Produtos na empresa DEF, onde lidero projetos que integram tecnologia e design. Meu foco tem
        sido criar experiências inovadoras para dispositivos IoT e ferramentas digitais. Recentemente, ajudei a lançar um produto
        que recebeu o prêmio XYZ de inovação em design. Essa fase tem sido marcada por crescimento constante e desafios que me
        impulsionam a aprender mais a cada dia.
      </div>
    </li>
  </ul>
</section>
