<section class="px-4 lg:px-32 scroll-mt-20" id="works">
  <h1 class="text-accent text-4xl font-bold tracking-wide mt-8 lg:mt2">Trabalhos.</h1>
  <div class="px-8 mt-2 w-11/12 space-y-2">
    <p>
      Meu trabalho é guiado por uma visão clara: criar experiências que sejam tão intuitivas quanto impactantes. Aqui estão alguns
      projetos que marcaram minha trajetória:
    </p>
  </div>
  <div class="flex flex-col lg:flex-row w-full mt-4">
    <div class="card bg-base-300 w-full lg:w-6/12 rounded-box grid flex-grow p-4 space-y-2">
      <div class="mask w-full">
        <img src="assets/images/trabalho1.jpg" />
        <div className="label">
          <small className="label-text-alt text-[0.05rem]">24 de novembro de 2019</small>
        </div>
      </div>
      <p class="text-lg font-black text-left">Aplicativo de Gestão de Tarefas</p>
      <p>
        Enquanto trabalhava como Designer de Produtos na empresa GHI, participei do desenvolvimento de um aplicativo inovador para
        gestão de tarefas pessoais e profissionais.
      </p>
      <ul class="list-disc pl-5">
        <li>
          <strong>Desafio:</strong> Criar uma interface que equilibrasse simplicidade para usuários iniciantes e funcionalidades
          avançadas para usuários experientes.
        </li>
        <li>
          <strong>Resultados:</strong> O aplicativo alcançou 100 mil downloads nos primeiros três meses, com uma avaliação média
          de 4,8 estrelas nas lojas de aplicativos. A retenção de usuários no primeiro mês aumentou em 40%.
        </li>
      </ul>
    </div>

    <div class="divider divider-vertical lg:divider-horizontal"></div>
    <div class="card bg-base-300 w-full lg:w-6/12 rounded-box grid flex-grow p-4 space-y-2">
      <div class="mask w-full">
        <img src="assets/images/trabalho2.jpg" />
        <div className="label">
          <small className="label-text-alt text-[0.05rem]">24 de dezembro de 2020</small>
        </div>
      </div>
      <div class="text-lg font-black text-left">Redesign do Dashboard</div>
      <p>
        Enquanto trabalhava na empresa DEF, assumi a liderança no projeto de redesign de um dashboard, com foco em melhorar a
        experiência do usuário e atender às necessidades específicas dos usuários móveis.
      </p>
      <ul class="list-disc pl-5">
        <li>
          <strong>Desafio:</strong> Tornar a interface mais intuitiva e acessível, além de otimizar fluxos críticos como o
          checkout, garantindo uma navegação fluida em dispositivos móveis.
        </li>
        <li>
          <strong>Resultados:</strong> O redesign resultou em um aumento de 25% na taxa de conversão e em uma redução de 15% no
          tempo médio de navegação, comprovando uma experiência mais eficiente e agradável para os usuários.
        </li>
      </ul>
    </div>
  </div>
</section>
