<div class="font-poppins font-bold flex flex-col items-center py-24 px-4 lg:flex-row lg:justify-between lg:px-96" id="home">
  <div class="space-y-4 text-blue-900">
    <p>Olá, eu sou o João,</p>
    <h1 class="text-7xl">Designer</h1>
    <h1 class="text-7xl">de Produtos</h1>
  </div>

  <div class="indicator mt-10 lg:mt-0">
    <div class="avatar">
      <div class="mask mask-squircle w-80">
        <img src="assets/images/close-up-portrait-serious-man-with-curly-hair.png" />
      </div>
    </div>
  </div>
</div>
